@font-face {
  src: url("../fonts/l-bold.ttf");
  font-family: 'l-Bold'; }

@font-face {
  src: url("../fonts/l-regular.ttf");
  font-family: 'l-regular'; }

html, body {
  background: #8c8082;
  /* For browsers that do not support gradients */
  height: 100%;
  width: 100%;
  color: #000; }

* {
  font-family: "l-regular";
  color: #000; }

h1 {
  text-transform: uppercase;
  color: #000; }

p {
  color: #000;
  font-weight: 300;
  font-size: 1.2em;
  font-family: "l-regular";
  line-height: 1.7; }

.unforgiving-nav {
  box-shadow: 2px 2px 4px #000;
  border: none;
  background-color: #060e08; }
  .unforgiving-nav img.icon-image {
    width: auto;
    height: 20px; }
  .unforgiving-nav i {
    color: #FFF; }
  .unforgiving-nav .navbar-right li a {
    font-family: "l-regular";
    color: #FFF;
    transition: all 0.3s ease-in-out; }
    .unforgiving-nav .navbar-right li a:hover {
      color: #232222; }

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .top-header img {
    width: 60%;
    margin-bottom: 20px; }
  .top-header .icons {
    text-align: center; }
    .top-header .icons li {
      list-style: none;
      margin-right: 1%;
      display: inline; }
      .top-header .icons li i {
        color: #000000;
        font-size: 40px;
        vertical-align: middle; }
      .top-header .icons li .icon-image {
        display: inline;
        width: 10%; }

#about h1 {
  margin-bottom: 4%; }

#about .about-block img {
  margin-bottom: 20px;
  border-radius: 4px; }

#about .about-block p {
  font-size: 1.4em; }

#about a {
  font-family: "l-regular";
  color: #d1cccc;
  transition: all 0.3s ease-in-out; }
  #about a:hover {
    color: #FFF;
    font-weight: bold; }

#video {
  margin-top: 14em;
  margin-bottom: 4em; }
  #video .video {
    padding: 20px 0px; }

#screenshots #slides a img {
  width: 100%;
  border-radius: 6px;
  margin: 10px;
  transition: all 0.2s ease-in-out; }
  @media screen and (max-width: 500px) {
    #screenshots #slides a img {
      width: 80%; } }
  #screenshots #slides a img:hover {
    box-shadow: 2px 2px 4px #000; }

#subscribe {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  #subscribe .top {
    width: 50%;
    margin: auto; }
  #subscribe .unforgive-form {
    margin: auto;
    width: 50%;
    padding: 15px; }
    @media screen and (max-width: 400px) {
      #subscribe .unforgive-form {
        width: 100%; } }
    #subscribe .unforgive-form .form-control {
      border-radius: 0px;
      border: 2px solid #232222;
      width: 30em;
      color: #262424;
      background-color: transparent;
      transition: all 0.2s ease-in-out; }
      @media screen and (max-width: 500px) {
        #subscribe .unforgive-form .form-control {
          width: 22.5em; } }
      #subscribe .unforgive-form .form-control:focus {
        outline: none;
        box-shadow: none; }
    #subscribe .unforgive-form .btn-submit {
      background-color: transparent;
      border: 2px solid #232222;
      border-radius: 0px;
      color: #EDEDED;
      transition: all 0.2s ease-in-out; }
      #subscribe .unforgive-form .btn-submit:hover {
        background-color: #232222;
        box-shadow: 2px 3px 4px #232222;
        border-radius: 2px; }
      @media screen and (max-width: 500px) {
        #subscribe .unforgive-form .btn-submit {
          display: block;
          padding: 13px;
          margin-top: 1em;
          text-align: center;
          width: 100%; } }

#team {
  margin-top: 0px;
  padding-top: 20px; }
  #team h1 {
    margin-bottom: 1.2em; }
  #team .team-member {
    margin: 20px; }
    #team .team-member h4 {
      text-decoration: underline;
      padding-bottom: 2px; }
      #team .team-member h4 span.name {
        font-weight: bolder;
        color: #FFF; }
    #team .team-member .text-content {
      width: 75%;
      text-align: left;
      margin: auto; }

#contact {
  padding-bottom: 0px; }
  #contact .logo {
    width: 260px; }
  @media screen and (min-width: 400px) {
    #contact {
      margin-bottom: 0px; } }
  #contact .icons {
    text-align: center; }
    #contact .icons li {
      list-style: none;
      margin-right: 1em;
      display: inline; }
      #contact .icons li i {
        color: #000000;
        font-size: 40px;
        vertical-align: middle; }
      #contact .icons li .icon-image {
        display: inline;
        width: 10%; }
  #contact .contact-form {
    width: 100%;
    padding: 10px; }
    #contact .contact-form .form-control {
      display: inline-block;
      background-color: transparent;
      border-radius: 0px;
      border: 1px solid #232222; }
    #contact .contact-form #checker {
      width: 25%; }
    #contact .contact-form .btn-submit {
      background-color: transparent;
      border: 2px solid #232222;
      border-radius: 0px;
      color: #EDEDED;
      transition: all 0.2s ease-in-out; }
      #contact .contact-form .btn-submit:hover {
        background-color: #232222;
        box-shadow: 2px 3px 4px #232222;
        border-radius: 2px; }

footer {
  background-color: #060e08;
  padding: 10px; }
  footer p {
    margin: 0px;
    font-size: 10px;
    color: #FFF; }
    footer p a {
      color: #FFF; }
      footer p a:hover {
        color: #F3f3f3; }

.form-control::-webkit-input-placeholder {
  /* Chrome */
  color: #262424;
  font-weight: bold; }

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #262424;
  font-weight: bold; }

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #262424;
  font-weight: bold; }

.form-control:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #262424;
  font-weight: bold; }

.space-8 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 100px;
  padding-bottom: 100px; }

.success, .error {
  font-size: 13px;
  margin-bottom: 10px; }

.black {
  background-color: #000; }
  .black p, .black h1, .black h2, .black h3, .black h4, .black h5, .black h6 {
    color: #FFF; }

.sl-overlay {
  background-color: #000; }

.sl-wrapper .sl-navigation button {
  color: #FFF; }
  .sl-wrapper .sl-navigation button:focus {
    outline: none; }

.status {
  margin-top: 10px; }

.mar-down {
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */